<h2>Mon site de recettes</h2>
<br>
<nav>
  <a routerLink="/home">Acceuil</a>
  <a routerLink="/index">Index</a>
  <a routerLink="/about">A Propos</a>
</nav>

<input type="text" name="search" id="search" placeholder="Chercher par nom">
