<h2>{{recette_detail?.titre  }}</h2>

<br>
<div id="image-recette"><img src="{{recette_detail?.image}}"></div>

<h3>On y va ...</h3>
<br>
<label for="nb-service"> NB. de service: </label>
<input id="nb-service" type="number" value="{{recette_detail?.recetteservice}}" /> <!-- TODO faire la variariation du nombre affiche -->
<br>
<ul *ngFor="let ingredient of recette_detail?.ingredients" >
    <li> <p> <b> {{ingredient?.ressource}} </b> -{{ingredient?.quantity}}{{ingredient?.unity}} </p> </li>
</ul>

<br>
<p>{{recette_detail?.etape}}</p>
