
<div  class="idx-lettre"   *ngFor="let lettre of alphabet"  >

  <div *ngIf="filterByLetter(lettre).length; else noRecette">
    {{lettre}} <br>
    <div>
      <app-idx-recette *ngFor="let recetteByLetter of filterByLetter(lettre)" [recetteInput]="recetteByLetter"  (selectedRecette)="recetteService.findOne(recetteByLetter.id)">{{recetteByLetter.titre}} </app-idx-recette>
    </div>
  </div>

  <ng-template #noRecette></ng-template>


</div>
